WcfWebClient/Connected Services/CourseReference/CourseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFDemo.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFDemo.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCourses">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Courses" nillable="true" type="tns:Courses" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourses" nillable="true" type="tns:ArrayOfCourses" />
  <xs:complexType name="Courses">
    <xs:sequence>
      <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      <xs:element minOccurs="0" name="Credits" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Courses" nillable="true" type="tns:Courses" />
</xs:schema>