WcfWebClient/Connected Services/CourseReference/CourseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://webservices-demo.azurewebsites.net/Services/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFDemo.Services" />
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFDemo.Services" minOccurs="0" name="GetAllResult" nillable="true" type="q1:ArrayOfCourses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CourseID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFDemo.Services" minOccurs="0" name="GetResult" nillable="true" type="q2:Courses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>